* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
    margin: 10%;
  }
  
  /* .container {
    display: flex; 
    width: 100vw; 
    height: 100vh; 
  } */
  .container {
    position: relative;
    width: 100vw; 
    height: 100vh; 
    background: #fff;
    border-radius: 0;
    overflow: hidden;
    box-shadow: none; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signin, .signup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    transition: all 0.6s ease-in-out;
  }
  
  
  .signin {
    z-index: 2;
    opacity: 1;
    padding-top: 80px;
    background-color: white;
    color: #123D72;
  }
  
 
  .signup {
    z-index: 1;
    opacity: 0;
    padding-top: 60px;
    background-color: white;
    color: #123D72;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    height: 100%;
    /* text-align: center; */
  }

  h1{
    font-weight: bold;
    text-align: center;
  }

  /* p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
  } */

  input{
    width: 459px;
    height: 66px;
    top: 406px;
    left: 345px;
    border-radius: 12px;
    color: black;
    background-color: white;
    padding: 10px 10px 10px 40px; 
  }

  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
  }
  
  .input-icon {
    position: absolute;
    left: 10px; 
    color: gray;
    font-size: 20px;
  }
  
  .input-container input:focus {
    outline: none;
    border-color: #0066cc;
  }
  
  .input-container input::placeholder {
    color: gray;
  }

  button{
    color: #fff;
    background:  #123D72;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid  #123D72;
    outline: none;
    text-transform: uppercase;
    transition: transform 80px ease-in;
  }
  .bnt-form{
    width: 223px;
    height: 66px;
    top: 749px;
    left: 463px;
    border-radius: 24px;
    background-color: #123D72;
  }

  .bnt-singup, .bnt-singin{
      background:  #123D72;
      border: 2px solid  white;
  }

  .container.right-painel-active .signup {
    opacity: 1;
    z-index: 2;
    transform: translateX(100%);
  }
  
  /* Oculta o login quando o modo cadastro está ativo */
  .container.right-painel-active .signin {
    opacity: 0;
    z-index: 1;
    transform: translateX(100%);
  }
.overlay-conatainer{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-painel-active .overlay-conatainer{
  transform: translateX(-100%);
}

.overlay{
  position: relative;
  color: #fff;
  background: #123D72;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right,  #123D72,  #123D72);
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-painel-active .overlay{
  transform: translateX(50%);
}

.overlay-right, .overlay-left{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0) ;
  transition: transform 0.6s ease-in-out;
}

.overlay-left{
  transform: translateX(-20px);
}

.overlay-right{
  right: 0;
  transform: translateX(0px);
}
.container.right-painel-active .overlay-left{
  transform: translateX(0px);
}
.container.right-painel-active .overlay-right{
  transform: translateX(20px);
}

 
/*   
  .bnt-singup{
      width: 223px;
      height: 66px;
      top: 555px;
      left: 1425px;
      border-radius: 24px;
      border-width: 2px;
      border-color:#FFFFFF;
      background-color: #123D72;
  }  */